<!-- footer.html -->
<footer class="psg-footer" id="psg-footer">
    <div class="container">
        <div class="psg-footer-grid">
            <div class="psg-footer-col psg-footer-brand">
                <img class="psg-footer-logo" src="//bizweb.dktcdn.net/100/092/840/themes/885495/assets/logo.png?1751359357620" alt="PETSAIGON Logo">
                <p class="psg-footer-intro">
                    Chúng tôi chuyên cung cấp thức ăn và phụ kiện có nguồn gốc rõ ràng, an toàn cho thú cưng và thân thiện với môi trường.
                </p>
                <ul class="psg-footer-contact">
                    <li><i class="fa-solid fa-location-dot"></i><span>Tân Phú, Hồ Chí Minh, Việt Nam</span></li>
                    <li><i class="fa-solid fa-phone-volume"></i><a href="tel:0388536385">0388536385</a></li>
                    <li><i class="fa-regular fa-envelope"></i><a href="mailto:nguyenhoanghiep3005@gmail.com">nguyenhoanghiep3005@gmail.com</a></li>
                </ul>
                <div class="psg-footer-socials">
                    <a href="#" aria-label="Facebook"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" aria-label="Twitter"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#" aria-label="LinkedIn"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="#" aria-label="YouTube"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>

            <div class="psg-footer-col">
                <h4>CÔNG TY</h4>
                <ul>
                    <li><a data-psg-page="pages/home.html" href="./pages/home.html">Trang chủ</a></li>
                    <li><a data-psg-href="pages/products.html" href="./pages/products.html">Sản phẩm</a></li>
                    <li><a data-psg-href="pages/products.html?sort=latest" href="./pages/products.html?sort=latest">Hàng mới về</a></li>
                    <li><a data-psg-href="pages/home.html#psg-footer" href="./pages/home.html#psg-footer">Liên hệ</a></li>
                </ul>
            </div>

            <div class="psg-footer-col">
                <h4>DỊCH VỤ</h4>
                <ul>
                    <li><a data-psg-href="pages/products.html?category=thuc-an-cho-cho" href="./pages/products.html?category=thuc-an-cho-cho">Shop chó</a></li>
                    <li><a data-psg-href="pages/products.html?category=thuc-an-cho-meo" href="./pages/products.html?category=thuc-an-cho-meo">Shop mèo</a></li>
                    <li><a data-psg-href="pages/products.html?category=phu-kien" href="./pages/products.html?category=phu-kien">Phụ kiện</a></li>
                    <li><a data-psg-href="pages/products.html?category=ve-sinh" href="./pages/products.html?category=ve-sinh">Vệ sinh thú cưng</a></li>
                </ul>
            </div>

            <div class="psg-footer-col">
                <h4>HỖ TRỢ KHÁCH HÀNG</h4>
                <ul>
                    <li><a data-psg-page="pages/login.html" href="./pages/login.html">Đăng nhập</a></li>
                    <li><a data-psg-page="pages/register.html" href="./pages/register.html">Đăng ký</a></li>
                    <li><a data-psg-page="pages/account.html" href="./pages/account.html">Tài khoản</a></li>
                    <li><a data-psg-page="pages/forgot-password.html" href="./pages/forgot-password.html">Quên mật khẩu</a></li>
                    <li><a data-psg-href="pages/products.html" href="./pages/products.html">Xem toàn bộ sản phẩm</a></li>
                </ul>
            </div>

            <div class="psg-footer-col psg-footer-newsletter">
                <h4>BẢN TIN</h4>
                <p class="psg-footer-news-copy">
                    Đăng ký nhận bản tin hàng tuần của chúng tôi và nhận thông tin cập nhật qua email.
                </p>
                <div class="psg-payment-block">
                    <h5>CHÚNG TÔI CHẤP NHẬN</h5>
                    <img data-psg-image="images/payment-4.png" src="./assets/images/payment-4.png" alt="Payment brands">
                </div>
            </div>
        </div>
    </div>
</footer>
